.div-container {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid plum;
  border-radius: 10px;
  box-shadow: 30px;
  width: 50%;
  height: auto;
  padding: 40px;
  margin: auto;
  margin-bottom: 50px;
};

.checkbox {
  padding-top: 50px;
}

.button-div {
  margin-top: 20px;
  margin-bottom: 20px;
}